/* Base */
body {
  margin: 0;
  font-family: "Fira Code", "Courier New", monospace;
  background-color: #0b0f14;
  color: #e6edf3;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #11161c;
  color: #58a6ff;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #30363d;
}

/* Contenedor */
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

/* Títulos */
h1 {
  color: #58a6ff;
}

h2 {
  color: #79c0ff;
  border-left: 5px solid #1f6feb;
  padding-left: 10px;
  margin-top: 40px;
}

h3 {
  color: #ffa657;
}

/* Texto */
p {
  color: #c9d1d9;
}

/* Módulos */
.module {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-left: 5px solid #2ea043;
  padding: 18px;
  margin-bottom: 25px;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
}

/* Hover mejorado */
.module:hover {
  border-left: 5px solid #58a6ff;
  background-color: #1c2128;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Etiqueta R */
.module::before {
  /* content: "R";*/
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 0.7em;
  color: #8b949e;
}

/* Links */
a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #79c0ff;
  text-decoration: underline;
}

/* Código inline */
code {
  background: #21262d;
  padding: 3px 6px;
  border-radius: 4px;
  color: #7ee787;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85em;
  color: #8b949e;
  border-top: 1px solid #30363d;
}
